<html>
<% include donation_partials/head %>

  <body>
    <%- include('../partials/menu') %>
      <div class="row">
        <div class="col-6 col-centered">
          <div class="card  mb-3">
            <div class="card-body">
              <br>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h2 class="card-title" style="text-align: center;"> <%= housearticle.title %></h2><br></li>
                <li class="list-group-item"><p class="card-text"><h4><b>Descriere:</b> <%= housearticle.description %> </h4></p></li>
                <li class="list-group-item"><p class="card-text"></p> <h4><b>Locatie:</b> <%=housearticle.location %></h4></p></li>
                <li class="list-group-item"><p class="card-text"><h4><b>Articol adaugat de:</b> <i><%= housearticle.owner.username %></i></h4></p></li>
                <li class="list-group-item">
           
            <div id="imageCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <% housearticle.images.forEach((img,i)=>{ %>
                  <li data-target="#imageCarousel" class="<%= i === 0 ? 'active': '' %>"></li>
                  <% }) %>
              </ol>
              <div class="carousel-inner">
                <% housearticle.images.forEach((img,i)=>{ %>
                  <div class="item <%= i === 0 ? 'active': '' %>">
                    <img style="margin: auto;" class="card-img-top" src="<%= img.url%>" alt="">
                  </div>
                  <% }) %>
              </div>
              <% if(housearticle.images.length> 1){ %>
                <a class="left carousel-control" href="#imageCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#imageCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <% } %>
              </li>
              <li class="list-group-item"><div class="card-body">
              <ul class="list-group list-group-flush">
                <% if(currentUser && housearticle.owner.equals(currentUser)){ %>
                  <li class="list-group-item" style="text-align: center;">
                    <form action="/clothes/<%= housearticle._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger">Stergere</button>
                    </form>
                  </li>
                  <li class="list-group-item" style="text-align: center;">
                    <form action="/house/<%= housearticle._id %>/edit ">
                      <button class="btn btn-success">Editeaza articol</button>
                    </form>
                  </li>
                  <% } %>
              </ul><div class="card-body" style="text-align: center;">
            <a href="/house" class="card-link">Inapoi la toate obiectele donate</a>
          </div>
            </div></li>
          
              </ul>
            </div>
           
            
          </div>
          
        </div>
      </div>
      </div>


  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../javascripts/menu.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

</html>